git+git://github.com/epigramai/tfserving-python-predict-client.git
Flask==1.0.2
flask_cors
SimpleITK
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
numpy==1.18.1
pandas==0.25.3
pandocfilters==1.4.2
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
sklearn==0.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow==1.15.4
dltk
matplotlib

