body {
  margin: 0;
  font-family: 'Open Sans', 'Ubuntu', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  background-color: #F5F8FF;
  font-family: 'Open Sans', 'Ubuntu', 'Noto Sans JP';
}

code {
  font-family: 'Open Sans', 'Ubuntu', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#dragndrop {
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  margin-bottom: 2%;
  border: 1px solid;
  border-radius: 10px;
  border-style: dashed;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dragndrop:hover {
  cursor: pointer;
}

#dragndrop p {
  margin-bottom: 0;
}

.upload-completed {
  background-color: white;
  animation-name: color;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes color {
  0% {
    background-color: white;
  }
  50% {
    background-color: #47CF73;
  }
  100% {
    background-color:white;
  }
}

#papayaContainer0 {
  padding-top: 9px !important;
  padding-bottom: 9px;
}

.box {
  box-shadow: 0 8px 25px rgba(209, 224, 241, 0.53), 0 10px 10px rgba(230, 230, 230, 0.22);
  border-radius: 5px !important;
  border: none !important;
}

#score {
  box-shadow: 0 4px 25px rgba(209, 224, 241, 0.53), 0 5px 4px rgba(230, 230, 230, 0.22);
  border-radius: 50%;
  width: 25vh;
  height: 25vh;
}

.papaya-menu-label#File {
  display: none;
}

#papaya-main-swap0 {
  position: absolute;
  top: 1.5% !important;
}

#papaya-main-decrement0 {
  position: absolute;
  top: 95% !important;
}

#papaya-main-increment0 {
  position: absolute;
  top: 90% !important;
}

#papaya-main-goto-origin0 {
  position: absolute;
  left: 53% !important;
  top: 90% !important;
}

#papaya-main-goto-center0 {
  position: absolute;
  left: 53% !important;
  top: 95% !important;
}

#Help, #Settings, #View, #papaya-main-goto-center0, #papaya-main-goto-origin0, #papaya-main-increment0, #papaya-main-decrement0, #papaya-main-swap0 {
  font-weight: bold;
  background-color: black;
  color: #e8e8e8;
  border: 1px solid;
  border-radius: 20px;
  margin-right: 1%;
}

#SPACE {
  display: none;
}

.score-hidden {
  display: none !important;
}

.score {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1000px) {
  .navigation {
    display: flex !important;
    justify-content: space-between !important;
  }

  .names {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

}

@media only screen and (max-width: 1000px) {
  .navigation {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }

  .names {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

}
